<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
    <h3>Your Details</h3>
    <table>
        <tr>
            <th th:text="'Id'"></th>
            <th th:text="'Username'"></th>
            <th th:text="'Password'"></th>
            <th th:text="'Email'"></th>
            <th th:text="''"></th>

        </tr>


        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
            <!--<td>  <a th:href="@{/author/showOne/{id}/(id=${author.id})}"> ShowDetails </a></td>-->

        </tr>
    </table>
</section>
</body>
</html>