<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h1>Form</h1>
<div class="card-body">
    <form th:action="@{/admin/update}" method="post" th:object="${user}">
        <div>
            <label th:for="username"> Username</label>
            <p th:input type="text" placeholder=" username">
                <input th:field="*{username}"/>
            <p th:errors="*{username}"></p>
        </div>
        <div>
            <label th:for="password">password</label>
            <p th:input type="password" placeholder="password">
                <input th:field="*{password}"/>
            <p th:errors="*{password}"></p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<p> Back to Main Page <a th:href="@{/admin/welcomeAd}"> Main</a></p>

</body>
</html>