<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List of Authors</h3>
<p> Add an author: <a th:href="@{/author/add}"> ADD </a></p>
<table>
    <tr>
        <th th:text="'Id'"> </th>
        <th th:text="'Name'"> </th>
        <th th:text="'Surname'"> </th>
        <th th:text="'DETAILS'"> </th>

    </tr>


    <tr th:each="author: ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td>  <a th:href="@{/author/update/{id}/(id=${author.id})}"> Update </a></td>

    </tr>
</table>
<a th:href="@{/welcomeAd}"> Back to Main Page </a>
</body>
</html>