<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h1>Form</h1>
<div class="card-body">
    <form th:action="@{/lyrics/add}" method="post" th:object="${lyrics}">
        <div>
            <label th:for="title"> Title </label>
            <p th:input type="text" placeholder=" Title">
                <input th:field="*{title}"/>
            <p th:errors="*{title}"></p>
        </div>
        <div>
            <label th:for="songText">Song Text</label>
            <p th:input type="songText" placeholder="songText">
                <input th:field="*{songText}"/>
            <p th:errors="*{songText}"></p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<a th:href="@{/lyrics/showAll}"> Show all lyrics </a>
</body>
</html>