<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
<table>
    <tr>
        <th></th>
        <th scope="row" th:text="'Username'"></th>
        <th scope="row"  th:text="'First Name'"></th>
        <th scope="row"  th:text="'Last Name'"></th>
        <th scope="row"  th:text="'Password'"></th>
        <th scope="row"  th:text="'Email'"></th>
        <th scope="row"  th:text="'Date of Birth'"></th>
        <th scope="row"  th:text="'UPDATE'"></th>
        <th scope="row"  th:text="''"></th>

    </tr>

    <tr th:each="user1: ${user}">

        <td th:text="${user1.username}"></td>
        <td th:text="${user1.firstName}"></td>
        <td th:text="${user1.lastName}"></td>
        <td th:text="${user1.password}"></td>
        <td th:text="${user1.email}"></td>
        <td th:text="${user1.dateOfBirth}"></td>
        <td><p><a th:href="@{/user/update/{id}/(id=${user1.id})}"> UPDATE </a></p></td>

    </tr>
</table>
</form>
</section>
</body>
</html>