<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
<h1>Form</h1>
<div class="card-body">
    <form th:action="@{/category/add}" method="post" th:object="${category}">
        <div>
            <label th:for="name"> Name</label>
            <p th:input type="text" placeholder=" Name">
                <input th:field="*{name}"/>
            <p th:errors="*{name}"></p>
        </div>
        <div>
            <label th:for="summary">Summary</label>
            <p th:input type="summary" placeholder="summary">
                <input th:field="*{summary}"/>
            <p th:errors="*{summary}"></p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
    <a th:href="@{/category/showAll}"> Back to List </a>
</section>
</body>
</html>