<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h1>Update category</h1>
<div class="card-body">
    <form th:action="@{/category/update}" method="post" th:object="${category}">
        <div>
            <label th:for="name"> Name</label>
            <p th:input type="text" placeholder=" Name">
                <input th:field="*{name}"/>
            <p th:errors="*{name}"></p>
        </div>
        <div>
            <label th:for="summary">Summary</label>
            <p th:input type="summary" placeholder="summary">
                <input th:field="*{summary}"/>
            <p th:errors="*{summary}"></p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<div>
<a th:href="@{/welcomeAd}"> Back to Main Page </a>
</div>
</body>
</html>