<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<h1>Add a song</h1>
<form th:action="@{song/add}" th:object="${song}" method="post">

    <p><input type="hidden" th:value="*{id}"/></p>
    <p> Title: <input type="text" th:value="*{title}"/></p>
  <p> Select author:
      <select class="form-control" name="author" id="author">
        <option value="0">Authors</option>
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.fullName}">
        </option>
    </select>
</p>
<p> Select category
    <select class="form-control" name="category" id="category">
        <option value="0">Categories</option>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">
        </option>
    </select>
</p>
    <p><input type="submit" value="Submit" /></p>
</form>

<div>
    <a th:href="@{/welcomeAd}"> Back to Main Page </a>
</div>
</body>
</html>