<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
<h1>Add a song</h1>

<div>
    <p>List of songs</p>
    <a th:href="@{/song/listSongs}"> List </a>
</div>
<div class="card-body">
    <form th:action="@{/song/add}" method="post" th:object="${song}">
        <div>
            <label th:for="title"> Title</label>
            <p th:input type="text" placeholder=" title">
                <input th:field="*{title}"/>
            <p th:errors="*{title}"></p>
        </div>
        <div>
            <label th:for="author">Choose author</label>
            <select class="form-control" name="author">
                <option value="0">Authors</option>
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.fullName}">
                </option>
            </select>
        </div>
        <div>
            <label th:for="category">Choose category:</label>
            <select class="form-control" name="category" id="category">
                <option value="0">Categories</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>
        <div>
            <label th:for="album">Choose album:</label>
            <select class="form-control" name="album" id="album">
                <option value="0">Albums</option>
                <option th:each="album : ${albums}"
                        th:value="${album.id}"
                        th:text="${album.title}">
                </option>
            </select>
        </div>
        <div>
            <label th:for="album">Choose Lyrics:</label>
            <select class="form-control" name="album" id="lyrics">
                <option value="0">Lyrics</option>
                <option th:each="lyric : ${lyrics}"
                        th:value="${lyric.id}"
                        th:text="${lyric.songText}">
                </option>
            </select>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</section>
</body>
</html>