<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
<h1>Add an Album</h1>
<div class="card-body">
    <form th:action="@{/album/add}" method="post" th:object="${album}">
        <div>
            <label th:for="title"> Title</label>
            <p th:input type="text" placeholder=" Title">
                <input th:field="*{title}"/>
            <p th:errors="*{title}"></p>
        </div>
        <div>
            <label th:for="yearOfRelease">Year of Release</label>
            <p th:input type="yearOfRelease" placeholder="yearOfRelease">
                <input th:field="*{yearOfRelease}"/>
            <p th:errors="*{yearOfRelease}"></p>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</section>
</body>
</html>